<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reg.css">
</head>
<body>
    <header id="header" class="container"></header>
    <div id="app">
        <div id="context">
            <div id="continue">
                <table id="inp" @click="espan">
                    <tr>
                        <td colspan="4">
                            <h4>会员注册</h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>账号</td>
                        <td style="position: relative;">
                            <input type="text" v-model="spanimg1">
                            <span style="color: #000; position: absolute;top: 6px;;right: 10px;"><img class="nones" style=" width: 20px;height: 20px;"  src="img/qingko.png" alt=""></span>
                        </td>
                        <td style="color: red; padding-left: 10px;">*</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>密码</td>
                        <td style="position: relative;">
                            <input type="password" v-model="spanimg2">
                            <span style="color: #000; position: absolute;top: 6px;;right: 10px;"><img class="nones" style=" width: 20px;height: 20px;"  src="img/qingko.png" alt=""></span>
                        </td>
                        <td style="color: red; padding-left: 10px;">*</td>
                    </tr>
                     <tr>
                        <td>确认密码</td>
                        <td style="position: relative;">
                            <input type="password" v-model="spanimg3">
                            <span style="color: #000; position: absolute;top: 6px;;right: 10px;"><img class="nones" style=" width: 20px;height: 20px;"  src="img/qingko.png" alt=""></span>
                        </td>
                        <td style="color: red; padding-left: 10px;">*</td>
                    </tr>
                    <tr>
                        <td>姓名</td>
                        <td style="position: relative;">
                            <input type="text" v-model="spanimg4">
                            <span style="color: #000; position: absolute;top: 6px;;right: 10px;"><img class="nones" style=" width: 20px;height: 20px;"  src="img/qingko.png" alt=""></span>   
                        </td>
                        <td style="color: red; padding-left: 10px;">*</td>
                    </tr>
                    <tr>
                        <td>邮箱</td>
                        <td style="position: relative;">
                            <input type="text" v-model="spanimg5">
                            <span style="color: #000; position: absolute;top: 6px;;right: 10px;"><img class="nones" style=" width: 20px;height: 20px;" src="img/qingko.png" alt=""></span>  
                        </td>
                        <td style="color: red; padding-left: 10px;">*</td>
                    </tr>
                    <tr>
                        <td>手机</td>
                        <td>
                            <select name="" id="" style="height: 25px;">
                                <option value="a1">中国大陆+86</option>
                                <option value="a2">香港+852</option>
                                <option value="a3">澳门+853</option>
                            </select>
                            <input type="text" v-model="yz" maxlength="11" style="width:125px;padding: 7px 7px;">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center;" id="btns" @click="btns"><button>注册</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="alert fade">
            <span class="close" @click="spanx">×</span>
            <p>{{title}}</p>
        </div>
    </div>
    <footer id="footer" class="container"></footer>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/header.js"></script>
<script src="js/reg.js"></script>
<script src="js/footer.js"></script>
</html>